//Colour palette

//COLORS
$background-color-dark:	#333;
$background-color-light: #EEEEEE;;
$background-color-lightest: #FFF;


//FONT-COLORS
$font-color-light: 	#fff;
$font-color-dark: 	#1d1d1d;
$font-color-md: #757575;

$link-color-hover: 	#384E77;


//GLOBAL
$body-background-color: #fff;
$border-color: #E5E5E5;

//BUTTONS
$btn-primary: #814A73;

//FORMS
$forms-primary: #385A5E;

//INVOICE
$header-color: #385A5E;
$invoice-header-bg: #385A5E;
$footer-bg: #CED3DC;

$calendar-font-color: #52698B;
$calendar-font-active: #F4F6F9;